.layoutGridContent {
    padding: 20px 30px;
}

.layoutGridItem {
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px 0;
}

.layoutGridItem:nth-child(2n) {
    background: deepskyblue;
}

.layoutGridItem:nth-child(2n+1) {
    background: rgb(20, 164, 212);
}