:global .layoutGridWrapper .ant-row>div:nth-child(2n) div{
    background: deepskyblue
}
:global .layoutGridWrapper .ant-row>div:nth-child(2n+1) div{
    background: rgb(50, 181, 224)
}
:global .layoutGridWrapper .ant-row-flex>div:nth-child(2n) div{
    background: deepskyblue
}
:global .layoutGridWrapper .ant-row-flex>div:nth-child(2n+1) div{
    background: rgb(50, 181, 224)
}
.layoutGridContent {
    padding: 20px 30px;
}

.layoutGridItem {
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px 0;
}
