:global .App {
  height: 100%
}

:global .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

:global .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

:global .App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
:global #components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

:global #components-layout-demo-custom-trigger .trigger:hover {
  color: #108ee9;
}
:global .logo {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
:global .ant-breadcrumb{
  height: 30px;
  line-height: 40px;
  font-size: 14px;
  margin-left: 20px;
}